@keyframes bg_change {
  0% {
    background-color: #F9C80E;
  }

  20% {
    background-color: #F86624;
  }

  40% {
    background-color: #EA3546;
  }

  60% {
    background-color: #662E9B;
  }

  80% {
    background-color: #218593;
  }

  100% {
    background-color: #F9C80E;
  }
}

html {
  font-family: 'Josefin Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #218593;
  color: #fff;
  animation-name: bg_change;
  animation-duration: 80s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

body {
  margin: 0;
}

a {
  background: transparent;
  color: #fff;
  fill: #fff;
  text-decoration: none;
  font-weight: 800;
  opacity: 0.8;
  transition: opacity 0.3s;
  text-decoration: none;
}

a:active,
a:hover {
  opacity: 1;
}

p {
  font-size: 28px;
  font-size: 2.5vw;
  font-weight: 500;
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
  p {
    font-size: 4.25vw;
  }
}

h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 130px;
  font-size: 13vw;
  line-height: 1em;
  margin: 0;
  letter-spacing: -0.05em;
}


@media only screen and (min-width: 0px) and (max-width: 959px) {
  .intro {
    font-size: 4.75vw;
  }
}

.container {
  max-width: 996px;
  max-width: 80vw;
  margin: 0 auto;
  padding: 10% 0;
  box-sizing: border-box;
}