@keyframes bg_change {
  0% {
    background-color: #becfbe;
  }
  25% {
    background-color: #becacf;
  }
  50% {
    background-color: #cfbebe;
  }
  75% {
    background-color: #d5d6c5;
  }
}

html {
  font-family: "proxima-nova", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #becfbe;
  color: #fff;
  animation-name: bg_change;
  animation-duration: 60s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
body {
  margin: 0;
}
a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  opacity: 0.8;
  transition: opacity 0.3s;
  text-decoration: underline;
}
a:active,
a:hover {
  opacity: 1;
}
p {
  font-size: 24px;
  font-size: 2vw;
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
  p {
    font-size: 4.25vw;
  }
}
h1 {
  font-size: 130px;
  font-size: 9vw;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.intro {
  font-size: 28px;
  font-size: 2.5vw;
  font-weight: 500;
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
  .intro {
    font-size: 4.75vw;
  }
}
.container {
  max-width: 996px;
  max-width: 80vw;
  margin: 0 auto;
  padding: 10% 0;
  box-sizing: border-box;
}
