// Break points
// ==========================================================================
@xsmall-min: 0px;
@xsmall-max: 479px;

@small-min: ( @xsmall-max + 1 );
@small-max: 767px;

@medium-min: ( @small-max + 1 );
@medium-max: 959px;

@screen: "only screen and";

// Media Queries
// ==========================================================================
@small-narrow: ~"@{screen} (min-width: @{xsmall-min}) and (max-width: @{xsmall-max})";
@small-wide: ~"@{screen} (min-width: @{small-min}) and (max-width: @{small-max})";
@medium: ~"@{screen} (min-width: @{medium-min}) and (max-width: @{medium-max})";
@small: ~"@{screen} (min-width: @{xsmall-min}) and (max-width: @{small-max})";
@not-large: ~"@{screen} (min-width: @{xsmall-min}) and (max-width: @{medium-max})";
// Retina
@retina: ~"@{screen} (-webkit-min-device-pixel-ratio: 2), @{screen} (min--moz-device-pixel-ratio: 2), @{screen} (-o-min-device-pixel-ratio: 2/1), @{screen} (min-device-pixel-ratio: 2), @{screen} (min-resolution: 192dpi), @{screen} (min-resolution: 2dppx)";


.transform(...) {
  -webkit-transform: @arguments;
    -ms-transform: @arguments;
      transform: @arguments;
}

.transition(...) {
  -webkit-transition: @arguments;
     -moz-transition: @arguments;
      -ms-transition: @arguments;
       -o-transition: @arguments;
          transition: @arguments;
}

@keyframes bg_change
{
  0% {background-color:#becfbe;}
  25% {background-color:#becacf;}
  50% {background-color:#cfbebe;}
  75% {background-color:#d5d6c5;}
}

@-webkit-keyframes bg_change
{
  0% {background-color:#becfbe;}
  25% {background-color:#becacf;}
  50% {background-color:#cfbebe;}
  75% {background-color:#d5d6c5;}
}

html {
  font-family: 'proxima-nova', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #becfbe;
  color: #fff;
  -webkit-animation-name: bg_change;
  -webkit-animation-duration:60s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count:infinite;
  animation-name: bg_change;
  animation-duration:60s;
  animation-direction:alternate;
  animation-iteration-count:infinite;
}

body {
  margin: 0;
}

a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  &:active,
  &:hover {
    outline: 0;
  }
}
p {
  font-size: 24px;
  font-size: 2vw;
  @media @not-large {
    font-size: 4.25vw
  }
}
h1 {
  font-size: 130px;
  font-size: 9vw;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}
h3 {
  font-size: 40px;
  font-size: 3vw;
  line-height: 2.5em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.intro {
  font-size: 28px;
  font-size: 2.5vw;
  font-weight: 500;
  @media @not-large {
    font-size: 4.75vw
  }
}

.container {
  max-width: 996px;
  max-width: 80vw;
  margin: 0 auto;
  padding: 10% 0;
  box-sizing: border-box;
}

.tagline {
  position: relative;
  padding: 20px 0;
  padding: 2vh 0;
  margin: 0 auto;
  p {
    font-size: 36px;
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    @media @not-large {
      font-size: 3.75vw
    }
  }
  .tagline-bottom {
    font-size: 26px;
    font-size: 2.5vw;
    font-weight: 800;
    @media @not-large {
      font-size: 2.75vw
    }
  }
  &::before, &::after {
    content: "";
    width: 20%;
    border-top: 2px solid;
    height: 1px;
    display: block;
    top: 50%;
    position: absolute;
  }
  &::after {
    right: 0;
  }
}


.links {
  padding: 45px 0 0;
  padding: 2vh 0 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.link {
  width: 50%;
  float: left;
  height: 200px;
  @media @not-large {
    width: 80%;
    float: none;
    height: auto;
    margin: 2vh auto;
  }
  a {
    color: fadeout( #fff, 40% );
    .transition( all 0.3s );
    @media @not-large {
      color: fadeout( #fff, 20% );
    }
    &:hover {
      color: #fff;
    }
  }
  h4 {
    font-weight: 800;
    line-height: 1em;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  p {
    position: relative;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0.1em;
    margin: 0;
    padding-left: 3px;
    text-transform: uppercase;
    @media @not-large {
      opacity: 1;
      top: 0;
    }
  }
}
.link-tw, .link-em {
  float: right;
  @media @not-large {
    float: none;
  }
}
.link-gh {
  h4 {
    font-size: 104px;
    font-size: 8vw;
    @media @not-large {
      font-size: 14.6vw;
    }
  }
  p {
    font-size: 31px;
    font-size: 2.3vw;
    @media @not-large {
      font-size: 4vw;
    }
  }
}
.link-tw {
  h4 {
    font-size: 97px;
    font-size: 6.6vw;
    @media @not-large {
      font-size: 12.6vw;
    }
  }
  p {
    font-size: 22px;
    font-size: 1.6vw;
    @media @not-large {
      font-size: 3vw;
    }
  }
}
.link-ig {
  h4 {
    font-size: 70px;
    font-size: 5vw;
    @media @not-large {
      font-size: 9.6vw;
    }
  }
  p {
    font-size: 23px;
    font-size: 1.7vw;
    @media @not-large {
      font-size: 3vw;
    }
  }
}
.link-em {
  margin-top: -20px;
  @media @not-large {
    margin-top: 0;
  }
  h4 {
    font-size: 139px;
    font-size: 9.4vw;
    @media @not-large {
      font-size: 18vw;
    }
  }
  p {
    font-size: 23px;
    font-size: 2vw;
    @media @not-large {
      font-size: 4vw;
    }
  }
}